@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("IMG_7308 .jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.001); /* Fondo oscuro con opacidad del 50% */
    z-index: -1; /* Colocar detrás del contenido */
}

.wrapper{
    background: rgba(98, 162, 185, 0.6); /* Color oscuro con opacidad del 50% */    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.footer {
    position: top;
    bottom: 800px;
    right: 10px;
    z-index: 999;
}
.footer button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(154, 250, 253, 0.517); /* Color oscuro con opacidad del 50% */    border: 2px solid rgba(255, 255, 255, .2);
    z-index: 999;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0; 
    border-radius: 10px;
    list-style-type: none;
    background-color: #05ff9f78;
}


nav ul li {
    padding: 20px;
    width: 150px;
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000000;
}
nav ul li a:hover {
    background-color: white;
    text-decoration: none;
    color: #333;
}

/* Estilos para la tabla */
.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.tabla th {
    background-color: #2f6e6b;
}

.wrapper#wrapperFiltro {
    margin-bottom: 20px; /* Esto moverá el wrapperFiltro hacia arriba */
}


/* Estilos para ocultar los modales */
/* Estilos para los modales */
.modal {
    background: rgb(142, 195, 188); /* Color oscuro con opacidad del 50% */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}

/* Estilos para hacer que el modal aparezca cuando se activa */
.modal.active {
    display: block;
}



/* Estilos para el fondo oscurecido */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente oscuro */
    z-index: 998; /* Coloca el overlay detrás del modal */
    display: none; /* Inicialmente oculto */
}

/* Estilos para mostrar el overlay cuando el modal está activo */
body.modal-open .overlay {
    display: block;
}

/* Estilos para deshabilitar eventos de ratón en el contenido principal mientras el modal está activo */
body.modal-open {
    overflow: hidden; /* Evita que el contenido principal se desplace */
}

body.modal-open nav a {
    pointer-events: none; /* Deshabilita eventos de ratón en los enlaces */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    opacity: 0.9; /* Reduce la opacidad para indicar que los enlaces están deshabilitados */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #7a9fd0;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para el título del formulario */
.modal-content h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para las etiquetas de los campos */
.modal-content label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

/* Estilos para los campos de entrada */
.modal-content input[type="text"],
.modal-content select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Estilos para el botón de envío */
.modal-content input[type="submit"] {
    background-color: #7d4caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el botón de cierre */
.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 27px;
    color: #ffffff;
    cursor: pointer;
}

/* Estilos para el botón de cierre al pasar el cursor */
.modal-content .close:hover {
    color: #333;
}
